<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.business.mapper.OrderMapper">

    <resultMap id="OrderResultMap" type="com.ruoyi.business.entity.Orders">
        <id property="id" column="id"/>
        <result property="number" column="number"/>
        <result property="status" column="status"/>
        <result property="userId" column="user_id"/>
        <result property="addressBookId" column="address_book_id"/>
        <result property="orderTime" column="order_time"/>
        <result property="checkoutTime" column="checkout_time"/>
        <result property="payMethod" column="pay_method"/>
        <result property="payStatus" column="pay_status"/>
        <result property="amount" column="amount"/>
        <result property="remark" column="remark"/>
        <result property="userName" column="user_name"/>
        <result property="phone" column="phone"/>
        <result property="address" column="address"/>
        <result property="consignee" column="consignee"/>
        <result property="cancelReason" column="cancel_reason"/>
        <result property="rejectionReason" column="rejection_reason"/>
        <result property="cancelTime" column="cancel_time"/>
        <result property="estimatedDeliveryTime" column="estimated_delivery_time"/>
        <result property="deliveryStatus" column="delivery_status"/>
        <result property="deliveryType" column="delivery_type"/>
        <result property="riderId" column="rider_id"/>
        <result property="riderName" column="rider_name"/>
        <result property="riderPhone" column="rider_phone"/>
        <result property="deliveryTime" column="delivery_time"/>
        <result property="packAmount" column="pack_amount"/>
        <result property="tablewareNumber" column="tableware_number"/>
        <result property="tablewareStatus" column="tableware_status"/>
    </resultMap>

    <insert id="insert" parameterType="Orders" useGeneratedKeys="true" keyProperty="id">
        insert into lgg_orders (number, status, user_id, address_book_id, order_time, checkout_time, pay_method, pay_status,
                            amount, remark, phone, address, user_name, consignee, estimated_delivery_time, delivery_status,
                            delivery_type, rider_id, rider_name, rider_phone, pack_amount, tableware_number, tableware_status)
        values
               (#{number}, #{status}, #{userId}, #{addressBookId}, #{orderTime}, #{checkoutTime}, #{payMethod},
                #{payStatus},#{amount}, #{remark}, #{phone}, #{address}, #{userName}, #{consignee}, #{estimatedDeliveryTime},
                #{deliveryStatus}, #{deliveryType}, #{riderId}, #{riderName}, #{riderPhone}, #{packAmount},
                #{tablewareNumber}, #{tablewareStatus})
    </insert>

    <update id="update" parameterType="com.ruoyi.business.entity.Orders">
        update lgg_orders
        <set>
            <if test="cancelReason != null and cancelReason!='' ">
                cancel_reason=#{cancelReason},
            </if>
            <if test="rejectionReason != null and rejectionReason!='' ">
                rejection_reason=#{rejectionReason},
            </if>
            <if test="cancelTime != null">
                cancel_time=#{cancelTime},
            </if>
            <if test="payStatus != null">
                pay_status=#{payStatus},
            </if>
            <if test="payMethod != null">
                pay_method=#{payMethod},
            </if>
            <if test="checkoutTime != null">
                checkout_time=#{checkoutTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="deliveryTime != null">
                delivery_time = #{deliveryTime},
            </if>
            <if test="deliveryType != null and deliveryType!=''">
                delivery_type = #{deliveryType},
            </if>
            <if test="riderId != null">
                rider_id = #{riderId},
            </if>
            <if test="riderName != null and riderName!=''">
                rider_name = #{riderName},
            </if>
            <if test="riderPhone != null and riderPhone!=''">
                rider_phone = #{riderPhone},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="pageQuery" resultMap="OrderResultMap">
        select * from lgg_orders
        <where>
            <if test="number != null and number!=''">
                and number like concat('%',#{number},'%')
            </if>
            <if test="phone != null and phone!=''">
                and phone like concat('%',#{phone},'%')
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="beginTime != null">
                and order_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and order_time &lt;= #{endTime}
            </if>
        </where>
        order by order_time desc
    </select>

    <select id="getByNumberAndUserId" resultMap="OrderResultMap">
        select * from lgg_orders where number = #{orderNumber} and user_id = #{userId}
    </select>

    <select id="getById" resultMap="OrderResultMap">
        select * from lgg_orders where id = #{id}
    </select>

    <select id="countStatus" resultType="java.lang.Integer">
        select count(id) from lgg_orders where status = #{status}
    </select>

    <select id="getByStatusAndOrderTimeLT" resultMap="OrderResultMap">
        select * from lgg_orders where status = #{status} and order_time &lt; #{orderTime}
    </select>

    <select id="sumByMap" resultType="java.lang.Double">
        select sum(amount) from lgg_orders
        <where>
            <if test="begin != null">
                and order_time &gt;= #{begin}
            </if>
            <if test="end != null">
                and order_time &lt;= #{end}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>
    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from lgg_orders
        <where>
            <if test="begin != null">
                and order_time &gt;= #{begin}
            </if>
            <if test="end != null">
                and order_time &lt;= #{end}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>
    <select id="getSalesTop10" resultType="com.ruoyi.business.dto.GoodsSalesDTO">
        select od.name, sum(od.number) number
        from lgg_order_detail od,lgg_orders o
        where od.order_id = o.id and o.status = 5
        <if test="begin != null">
            and o.order_time &gt;= #{begin}
        </if>
        <if test="end != null">
            and o.order_time &lt;= #{end}
        </if>
        group by od.name
        order by number desc
        limit 0,10
    </select>
</mapper>
